### os ###
.DS_Store

### local settings ###
*.local
local.*

### ssh ###
.ssh

### ASDF ###
config/asdf/*
!/config/asdf/.tool-versions
!/config/asdf/plugins.txt

### Android ###
config/android/sdk/
config/.android/
config/local.properties
*.iml
config/.idea/
/.gradle/

### AWS ###
config/aws/credentials
