### os ###
.DS_Store

### local settings ###
*.local
local.*

### ssh ###
.ssh

### ASDF ###
/asdf/*
!/asdf/.tool-versions
!/asdf/plugins.txt

### Android ###
/android/sdk/
/.android/
/local.properties
*.iml
/.idea/
/.gradle/

### AWS ###
aws/credentials
